@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* font-family: 'Open Sans', sans-serif; */

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    --color-basic: #FB3B64;
    --color-professional: #07ACE6;
    --color-premium: #55DFB4;
    width: 100vw;
    cursor: default;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    width: 100%;
    box-shadow: 0 3px 6px rgba(128, 128, 128, 0.479);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

main {
    width: 100%;
    margin-top: 130px;
    /* position: relative; */
}


/* NAVIGATION */

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    color: #08A6E4;
    font-size: 32px;
    margin: auto 0;
    font-weight: normal;
}

.nav__menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #A5A5A5;
}

.nav__item {
    padding: 28px 10px;
    border-bottom: 4px solid white;
    letter-spacing: 2px;
}

.nav__item:hover {
    color: black;
    border-bottom: 4px solid #08A6E4;
}


/* BANNER */

.banner__image {
    width: 100%;
}

.banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    font-size: 49px;
    line-height: 57px;
    font-weight: 500;
}

.banner__text {
    padding: 20px 0;
    font-size: 16px;
}

.banner__button {
    background-color: #08A6E4;
    color: white;
    padding: 22px 158px;
    border-radius: 50px;
    text-decoration: none;
}


/* POPULARITY */

.popularity__section {
    height: 531px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}

.popularity__title {
    display: block;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 100px;
}

.popularity__section .container {
    display: flex;
    justify-content: space-around;
}

.popularity__article {
    text-align: center;
    width: 176px;
    padding: 0 20px;
}

.popularity__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 13px;
}

.popularity__circle_basic {
    background-color: var(--color-basic);
}

.popularity__circle_professional {
    background-color: var(--color-professional);
}

.popularity__circle_premium {
    background-color: var(--color-premium);
}

.popularity__circle_basic img {
    position: relative;
    left: 35%;
    top: 5%;
    margin: auto 0;
}

.popularity__circle_professional img {
    position: relative;
    left: 35%;
    top: 20%;
    margin: auto 0;
}

.popularity__circle_premium img {
    position: relative;
    left: 35%;
    top: 10%;
    margin: auto 0;
}

.popularity__article p {
    color: #A5A5A5;
    font-size: 16px;
}

.popularity__article p span {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 19px;
    letter-spacing: 5px;
}


/* ADVANTAGES */

.advantages__section {
    height: 1300px;
}

.advantages__section article {
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-bottom: 37px;
    display: flex;
}

.advantages__section .advantages__bottom {
    border: none;
}

.advantages__bottom .advantages__left {
    border: 1px solid #E8E9ED;
}

.advantages__section article>div {
    width: 50%;
}

.advantages__section article div {
    width: 50%;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages__title {
    font-size: 36px;
    font-weight: 400;
}

.advantages__text {
    font-size: 16px;
    margin: 30px 0 50px 0;
    padding-right: 120px;
}

.advantages__line.basic {
    padding: 0px;
    border: 1px solid var(--color-basic);
}

.advantages__line.professional {
    padding: 0px;
    border: 1px solid var(--color-professional);
}

.advantages__line.premium {
    padding: 0px;
    border: 1px solid var(--color-premium);
}

.advantages__section article img {
    align-self: flex-start;
    justify-self: center;
    position: relative;
}

.advantages__section .advantages__top .advantages__right::before {
    height: 140px;
    width: 120px;
    position: absolute;
    content: "";
    background-color: var(--color-basic);
    background-position: center;
    background-size: cover;
    transform: translateX(270px) translateY(-85px)rotate(-45deg);
    border-radius: 30px;
}

.advantages__section .advantages__center .advantages__left {
    position: relative;
}

.advantages__section .advantages__center .advantages__left::before {
    height: 310px;
    width: 310px;
    position: absolute;
    content: "";
    background-color: var(--color-professional);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transform: translateY(-20px);
}

.advantages__bottom .advantages__right {
    width: 50%;
    height: 100%;
    padding: 0px;
    margin: 0 36px;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.advantages__bottom .advantages__right::before {
    content: "";
    height: 100%;
    width: 106%;
    background-color: var(--color-premium);
    position: absolute;
    border-radius: 5px;
}

.advantages__bottom .advantages__right img {
    margin-left: 150px;
}


/* PRICING */

.pricing__section {
    height: 616px;
}

.pricing__section .container:not(.pricing__title) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing__section .pricing__title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 60px auto;
}

.pricing__article_basic {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-basic);
    border-radius: 20px;
}

.pricing__article_professional {
    width: 405px;
    height: 500px;
    border: 1px solid var(--color-professional);
    border-radius: 20px;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__article_premium {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-premium);
    border-radius: 20px;
}

.pricing__section .container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;
}

.pricing__section .container article div {
    margin: auto 0;
}

.pricing__type {
    font-size: 21px;
    font-weight: bold;
}

.pricing__price {
    font-size: 46px;
    margin: 14px 0;
    font-family: "Open Sans" sans-serif;
}

.pricing__article_basic .pricing__price {
    color: var(--color-basic);
}

.pricing__article_professional .pricing__price {
    color: var(--color-professional);
}

.pricing__article_premium .pricing__price {
    color: var(--color-premium);
}

.pricing__limited {
    font-size: 12px;
    font-weight: bold;
}

.pricing__section ul li {
    font-size: 14px;
    padding: 10px 0;
}

.pricing__section .enable {
    color: var(--color-premium);
}

.pricing__section .disable {
    color: var(--color-basic);
}

.button__begin {
    background-color: var(--color-basic);
}

.button__professional {
    background-color: var(--color-professional);
}

.button__premium {
    background-color: var(--color-premium);
}

.button {
    padding: 20px 60px;
    border-radius: 30px;
    color: white;
    margin: 0 auto;
    transform: translateY(28px);
    text-decoration: none;
}


/* CONTACT */

.contact__section {
    margin-top: 150px;
    height: 376px;
}

.contact__section .container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contact__info {
    width: 30%;
    height: 50%;
}

.contact__title {
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 22px;
}

.contact__text {
    font-size: 16px;
    margin-bottom: 42px;
}

.contact__form {
    width: 30%;
    height: 100%;
}

.contact__form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact__details {
    display: flex;
    align-items: center;
}

.contact__details p {
    margin: 0 20px 0 10px;
}

.contact__section form>label {
    color: var(--color-professional);
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
}

.contact__form form>input {
    border: none;
    border-bottom: 1px solid #95989A;
    margin: 44px 0 44px 0;
}

.contact__accept {
    display: flex;
}

.contact__accept label {
    display: block;
    color: #707070;
    font-size: 12px;
}

.contact__form input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 10px;
    height: 24px;
    min-width: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: white;
    outline: none;
    position: relative;
}

.contact__form input[type="checkbox"]:checked {
    color: var(--color-professional);
}

.contact__form input[type="checkbox"]:checked:after {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url("../images/Checkmark.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* FOOTER */

footer {
    box-shadow: 0px -5px 40px #00000029;
}

footer .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    color: #08A6E4;
    font-size: 26px;
    margin: auto 0;
    font-weight: normal;
}

.footer__left p {
    padding-top: 10px;
    font-size: 11;
    color: #A5A5A5;
}

.footer__right img {
    margin-left: 10px;
}